body {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    background-color: rgb(112, 194, 235);
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    border: none;
    color: white;
}

button {
    display: block;
}